# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
ios/Pods/
android/.gradle/
android/local.properties

# Firebase / secrets
google-services.json
firebase_options.dart

# IDE
.vscode/
.idea/